:root {
    --main-bg-color: #2D3E50;
    --green-color: #1BBC9B;
    --green-light: #09f7d7;
    --blue-light: #14d6dd;
    --white-color: #ffffff;
    --smooth-blue: #0458b35e;
    --strong-blue: #0e2842;
    --font:'Indie Flower', cursive;
}